// Typography
$font-family-main: 'Source Sans Pro', Helvetica, Arial, sans-serif !default;
$font-family-headings: 'Source Sans Pro', Helvetica, Arial, sans-serif !default;
$font-size: 1.10em !default;

// Padding
$padding-large: 20% !default;
$padding-small: 5% !default;
$padding-x-small: 3% !default;

// Brand colours
$brand-color: #fff !default;
$background-color: #fff !default;
$border-color: rgba(0, 0, 0, 0.1) !default; // rgba recommended if using feature images

// Typography colours
$text-color: #383838 !default;
$link-color: #757575 !default;
$selection-color: #D4D4D4 !default; // visible when highlighting text

// Tags color
$tags-color: #b0b0b0 !default;

//Search color
$search-color: #999 !default;

// Header colours
$header-link-color: #383838 !default;

// Feature image for articles
$feature-image-text-color: #fff !default;
$feature-image-size: cover !default; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #a4a4a4 !default;
$header-desc-text-color: #FFF !default;
$header-desc-link-color: #02453D !default;

// dark mode 
$white: #fff;
$white-025: #393939;
$white-050: #3d3d3d;
$white-075: #404345;
$white-100: #4a4e51;
$white-150: #555a5e;
$white-200: #697075;
$white-300: #7d848d;
$white-350: #959ca3;
$white-400: #9fa6ad;
$white-500: #acb2b8;
$white-600: #c4c8cc;
$white-700: #cfd2d6;
$white-750: #dadee0;
$white-800: #fafafa;
$white-900: #f2f2f3;